{% extends 'base.html.twig' %}

{% block title "Bienvenue au DoctorNet" %}

{% block body %}
	<main role="main">
		<div class="container">
			<div class="row mb-3">
				<div class="col">
					<h1 class="welcome-title text-center ">Bienvenue sur notre site</h1>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-12 col-sm-6 col-lg-4 mb-sm-3">
					<div class="wrapper shadow-sm p-2">
						<div class="wrap-icon ">
							<i class="bi bi-house-door-fill "></i>
						</div>
						<h6 class="title-section text-center mt-2">
							Qui nous sommes
						</h6>
						<div class="section-content p-2">
							<p class="content-text text-muted text-justify ">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus consectetur ipsam vel quas.
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4 mb-sm-3">

					<div class="wrapper shadow-sm p-2">
						<div class="wrap-icon ">
							<i class="bi bi-people-fill"></i>
						</div>
						<h6 class="title-section text-center mt-2">
							Qui nous sommes
						</h6>
						<div class="section-content p-2">
							<p class="content-text text-muted text-center ">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus consectetur ipsam vel quas.
							</p>
						</div>
					</div>

				</div>
				<div class="col-12 col-sm-6 col-lg-4 mb-sm-3">

					<div class="wrapper shadow-sm p-2">
						<div class="wrap-icon ">
							<i class="bi bi-calendar-fill"></i>
						</div>
						<h6 class="title-section text-center mt-2">
							Qui nous sommes
						</h6>
						<div class="section-content p-2">
							<p class="content-text text-muted text-center ">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus consectetur ipsam vel quas.
							</p>
						</div>
					</div>

				</div>

			</div>
			<div class="row">
				<div class="col-12 col-sm-6 col-lg-4 mb-sm-3">

					<div class="wrapper shadow-sm p-2">
						<div class="wrap-icon ">
							<i class="bi bi-house-door-fill "></i>
						</div>
						<h6 class="title-section text-center mt-2">
							Qui nous sommes
						</h6>
						<div class="section-content p-2">
							<p class="content-text text-muted text-justify ">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus consectetur ipsam vel quas.
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-lg-4 mb-sm-3">

					<div class="wrapper shadow-sm p-2">
						<div class="wrap-icon ">
							<i class="bi bi-people-fill"></i>
						</div>
						<h6 class="title-section text-center mt-2">
							Qui nous sommes
						</h6>
						<div class="section-content p-2">
							<p class="content-text text-muted text-center ">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus consectetur ipsam vel quas.
							</p>
						</div>
					</div>

				</div>
				<div class="col-12 col-sm-6 col-lg-4 mb-sm-3">
					<div class="wrapper shadow-sm p-2">
						<div class="wrap-icon ">
							<i class="bi bi-calendar-fill"></i>
						</div>
						<h6 class="title-section text-center mt-2">
							Qui nous sommes
						</h6>
						<div class="section-content p-2">
							<p class="content-text text-muted text-center ">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus voluptatibus consectetur ipsam vel quas.
							</p>
						</div>
					</div>
				</div>
			</div>
		</main>
	{% endblock %}
