{{ form_start(searchForm) }}
{{form_row(searchForm.name)}}
<h4>Spécialités</h4>
{{form_row(searchForm.specilaities)}}

<button type="submit" class="btn btn-primary w-100">Rechercher</button>
{{ form_end(searchForm) }}
